<ion-header>
  <ion-navbar>
    <ion-title>
      Performance
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showNavbarMenu($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="mode">
      <ion-segment-button value="today">
        Today
      </ion-segment-button>
      <ion-segment-button value="allTime">
        All Time
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [hidden]="!volume">
    <div class="chart">
      <canvas #lineCanvasPerformanceSeries></canvas>
    </div>
    <div class="summary" [hidden]="isRedactedMode">
      <ion-grid>
        <ion-row no-padding>
          <ion-col no-padding text-right>
          </ion-col>
          <ion-col class="total" text-center>
            {{volume?.price[mode]?.price | number:'1.2-2'}}
          </ion-col>
          <ion-col class="currency" text-left>
            {{volume?.currency}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col class="change" text-right>
            <ng-container *ngIf="volume?.price[mode]?.performance > 0">
              <span class="up">+</span>
              <span>{{volume?.price[mode]?.performance | number: '1.2-2'}}</span>
            </ng-container>
            <ng-container *ngIf="volume?.price[mode]?.performance < 0">
              <span class="down">-</span>
              <span>{{volume?.price[mode]?.performance * -1 | number: '1.2-2'}}</span>
            </ng-container>
          </ion-col>
          <ion-col class="change" text-left>
            <ng-container *ngIf="volume?.price[mode]?.performancePercent > 0">
              <span class="up">+</span>
              <span>{{volume?.price[mode]?.performancePercent | percent: '1.2-2'}}</span>
            </ng-container>
            <ng-container *ngIf="volume?.price[mode]?.performancePercent < 0">
              <span class="down">-</span>
              <span>{{volume?.price[mode]?.performancePercent * -1 | percent: '1.2-2'}}</span>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-card *ngFor="let quote of quotes" class="quote" (click)="openChart(quote)">
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="arrow-dropright-circle" class="trend equal" *ngIf="quote.price[mode].regularMarketChangePercent < TREND_EQUAL_THRESHOLD && quote.price[mode].regularMarketChangePercent > -TREND_EQUAL_THRESHOLD"></ion-icon>
          <ion-icon name="arrow-dropup-circle" class="trend up" *ngIf="quote.price[mode].regularMarketChangePercent >= TREND_EQUAL_THRESHOLD"></ion-icon>
          <ion-icon name="arrow-dropdown-circle" class="trend down" *ngIf="quote.price[mode].regularMarketChangePercent <= -TREND_EQUAL_THRESHOLD"></ion-icon>
        </ion-avatar>
        <ion-avatar item-end>
          <ion-icon name="play" class="state" *ngIf="quote.marketState === 'REGULAR'"></ion-icon>
          <ion-icon name="pause" class="state" *ngIf="quote.marketState !== 'REGULAR'"></ion-icon>
        </ion-avatar>
        <h2>{{quote.name}}</h2>
        <p>{{quote.symbol + ':' + quote.exchangeName}}</p>
      </ion-item>

      <ion-card-content>
        <ion-row>
          <ion-col>
            <h1 [ngClass]="{'redacted': isRedactedMode}">
              {{quote.price[mode].portfolioMarketPrice | currency:quote.currency:'code'}}
            </h1>
            <div class="quantity">
              <ng-container *ngIf="mode === 'today'">
                <span [ngClass]="{'redacted': isRedactedMode}">{{quote.quantity | number: '1.0-3'}}</span> × {{quote.price[mode].regularMarketPrice | number: '1.2-2'}}{{quote.currency}}
              </ng-container>
              <ng-container *ngIf="mode !== 'today'">
                <span [ngClass]="{'redacted': isRedactedMode}">{{quote.quantity | number: '1.0-3'}}</span> × {{quote.averagePrice | number: '1.2-2'}}{{quote.currency}}
              </ng-container>
            </div>
          </ion-col>
          <ion-col text-right>
            <span *ngIf="quote.price[mode].regularMarketChange > 0">+</span>{{quote.price[mode].portfolioMarketChange | number: '1.2-2'}}{{quote.currency}}<br />
            <span *ngIf="quote.price[mode].regularMarketChangePercent > 0">+</span>{{quote.price[mode].regularMarketChangePercent | percent: '1.2-2'}}
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
