page-transactions {
  background-color: #eee;

  ion-avatar[item-start] {
    margin-right: 8px !important;
  }

  ion-content {
    background-color: transparent !important;
  }

  ion-icon {
    &.transaction {
      color: #ccc;
      font-size: 1.6em;
      line-height: 40px;
      margin-right: 0;
      width: 30px;
      text-align: center;

      &.bonus,
      &.buy,
      &.dividend {
        color: color($colors, secondary, base);
      }

      &.sell {
        color: color($colors, danger, base);
      }
    }
  }

  ion-list {
    margin-bottom: 16px !important;

    &:last-child {
      margin-bottom: 0 !important;
    }

    ion-item {
      .item-inner {
        margin-left: 4px !important;
      }
    }

    ion-item-options {
      button {
        &.delete {
          min-width: 56px;
        }
      }
    }

    ion-list-header {
      ion-label {
        margin-bottom: 0 !important;
      }
    }

  }

  .summary {
    line-height: 22px;
    padding: 10px;
  }

  .type {
    float: right;
    font-weight: 100;
  }
}
