<ion-header>
  <ion-navbar>
    <ion-title>
      Transactions
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Filter transactions..." (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="summary" *ngIf="totalBuy">
    <ion-row>
      <ion-col>
        Buy<br />
        Sell<br />
        Fee<br />
        Transactions
      </ion-col>
      <ion-col text-right>
        {{totalBuy | number: '1.2-2'}}{{baseCurrencySymbol}}<br />
        {{totalSell | number: '1.2-2'}}{{baseCurrencySymbol}}<br />
        {{totalFee | number: '1.2-2'}}{{baseCurrencySymbol}}<br />
        {{totalTransactions}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container *ngIf="visibleTransactions">
    <ion-list *ngFor="let transactionsByDay of visibleTransactions">
      <ng-container *ngFor="let transaction of transactionsByDay; let first = first">
        <ion-list-header *ngIf="first" no-margin>
          {{formatDate(transaction.day)}}
        </ion-list-header>
        <ion-item>
          <ion-icon name="cube" class="transaction bonus" *ngIf="transaction.type === 'BONUS'" item-start></ion-icon>
          <ion-icon name="arrow-round-forward" class="transaction buy" *ngIf="transaction.type === 'BUY'" item-start></ion-icon>
          <ion-icon name="bowtie" class="transaction corporate-action" *ngIf="transaction.type === 'CORPORATE_ACTION'" item-start></ion-icon>
          <ion-icon name="add" class="transaction dividend" *ngIf="transaction.type === 'DIVIDEND'" item-start></ion-icon>
          <ion-icon name="arrow-round-back" class="transaction sell" *ngIf="transaction.type === 'SELL'" item-start></ion-icon>
          <ion-icon name="shuffle" class="transaction split" *ngIf="transaction.type === 'SPLIT'" item-start></ion-icon>
          <h2>{{transaction.symbol}}</h2>
          <p>
            {{transaction.quantity | number: '1.0-3'}} × {{transaction.unitPrice | number: '1.2-2'}}{{transaction.currency}}
          </p>
          <ion-note item-end text-right class="total">
            <h2>{{transaction.type}}</h2>
            <p>
              {{transaction.total | number: '1.2-2'}}{{transaction.currency}}
              <span class="fee">{{transaction.fee | number: '1.2-2'}}</span>
            </p>
          </ion-note>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>
</ion-content>
